<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .box {
            display: flex;

        }
        div.box {
            margin: 10px;
        }

    </style>
</head>

<body>
<div class="container">
<h1>Coronavirus Tracker Application</h1>
<p>This application lists the current number of cases reported across the globe</p>

<div class="jumbotron">
    <h1 class="display-4" th:text="${cases}"></h1>
    <p class="lead">Total cases reported</p>
    <hr class="my-4">
    <p>
        <div class="box">
            <div>Total deaths reported:</div>
            <div th:text="${deaths}"></div>
        </div>
        <div class="box">
            <div>Total recovered:</div>
            <div th:text="${recovered}"></div>
        </div>
        <div class="box">
            <div>Total recovered today:</div>
            <div th:text="${todayRecovered}"></div>
        </div>
        <div class="box">
            <div>Total critical cases:</div>
            <div th:text="${critical}"></div>
        </div>
        <div class="box">
            <div>Total active cases:</div>
            <div th:text="${active}"></div>
        </div>

    </p>

</div>
</body>

</html>